* {
    margin: 0;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4E47FF;


}

nav ul li {
    color: #4E47FF;
    list-style: none;

}

nav li a {
    text-decoration: none;
    color: #4E47FF;
}

header {

    width: 100%;
    height: 698px;

}

.header-bg {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 698px;



}